<dx-button
  routerLink="user-list"
  style="margin: 10px; background-color: #465572; color: white"
  >User List</dx-button
>

<dx-button
  routerLink="language"
  style="margin: 10px; background-color: #465572; color: white"
  >Language</dx-button
>

<dx-button
  routerLink="area"
  style="margin: 10px; background-color: #465572; color: white"
  >Area</dx-button
>

<dx-button
  routerLink="menu"
  style="margin: 10px; background-color: #465572; color: white"
  >Menu</dx-button
>

<div style="float: right">
  <dx-button
    style="
      margin: 5px;
      background-color: rgba(245, 20, 20, 0.637);
      color: white;
    "
    icon="trash"
    text="Delete"
  ></dx-button>
</div>
<div style="float: right">
  <dx-button
    style="
      margin: 5px;
      background-color: rgba(20, 24, 245, 0.582);
      color: white;
    "
    icon="edit"
    text="Edit"
  ></dx-button>
</div>

<router-outlet></router-outlet>
