<dx-button
  routerLink="user-list"
  style="margin: 10px; background-color: #465572; color: white"
  >User List</dx-button
>

<dx-button
  routerLink="language"
  style="margin: 10px; background-color: #465572; color: white"
  >Language</dx-button
>

<dx-button
  routerLink="area"
  style="margin: 10px; background-color: #465572; color: white"
  >Area</dx-button
>

<dx-button
  routerLink="menu"
  style="margin: 10px; background-color: #465572; color: white"
  >Menu</dx-button
>

<router-outlet></router-outlet>
