<dx-data-grid
  [dataSource]="dataSource"
  id="gridContainer"
  [remoteOperations]="false"
  [allowColumnReordering]="true"
  [rowAlternationEnabled]="true"
  [showBorders]="true"
  keyExpr="idUser"
  (onRowUpdating)="onRowUpdating($event)"
  (onRowRemoving)="onRowRemoving($event)"
>
  <dxo-search-panel
    [visible]="true"
    [highlightCaseSensitive]="true"
  ></dxo-search-panel>

  <dxi-column dataField="name"></dxi-column>
  <dxi-column dataField="userName"></dxi-column>

  <dxi-column dataField="idUser"></dxi-column>

  <dxo-editing
    [allowUpdating]="true"
    [allowDeleting]="true"
    [useIcons]="true"
  ></dxo-editing>
</dx-data-grid>

<h2>AGREGAR USUARIOS</h2>
<form (submit)="handleSubmit($event)">
  <dx-form [formData]="addUserForm" [colCount]="2" [labelLocation]="'top'">
    <dxi-item dataField="name">
      <dx-text-box formControlName="name"></dx-text-box>
    </dxi-item>
    <dxi-item dataField="userName">
      <dx-text-box formControlName="userName"></dx-text-box>
    </dxi-item>
  </dx-form>
  <!-- Botón de Envío del Formulario -->

  <dx-button type="submit" text="Submit" [useSubmitBehavior]="true"></dx-button>
</form>
