<dx-data-grid
  [dataSource]="dataSource"
  id="gridContainer"
  [remoteOperations]="false"
  [allowColumnReordering]="true"
  [rowAlternationEnabled]="true"
  [showBorders]="true"
  keyExpr="idArea"
  (onRowUpdating)="onRowUpdating($event)"
  (onRowRemoving)="onRowRemoving($event)"
>
  <dxo-search-panel
    [visible]="true"
    [highlightCaseSensitive]="true"
  ></dxo-search-panel>

  <dxi-column dataField="name"></dxi-column>
  <dxi-column dataField="idArea"></dxi-column>

  <dxo-editing [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true">
  </dxo-editing>
</dx-data-grid>
